<div class="illu">
  <div class="container col-xxl-8 px-4 py-5">

    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img
          src="images/Matilda.png"
          class="d-block mx-lg-auto img-fluid"
          alt="Bootstrap Themes"
          width="700"
          height="500"
          loading="lazy"
        />
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Travel
          Logbook for divers and sea lovers</h1>
        <p class="lead">This is a web app to log your dives, especially when you
          go for a trip. Users can log and share their experiences</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a
            href="/auth/login"
            class="btn btn-primary btn-lg px-4 me-md-2"
          >Login</a>
          <a
            href="/auth/signup"
            class="btn btn-outline-primary btn-lg px-4"
          >Sign up</a>
        </div>
      </div>
    </div>
  </div>
</div>