/** @format */

body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #e6fcf59f;
}
.navbar {
	background-color: #99e9f29c !important;
}

a {
	color: #00b7ff;
}
a:hover {
	color: blue;
}
h1 {
	color: 15px;
}

.btn {
	margin: 0.5rem;
}

illu {
	background-image: url("/images/path.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.diving-list-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}

.card-dive {
	width: 80%;
}

#dropdown-menu {
	left: -100;
}

#map {
	height: 720px;
	/* margin-top: 500px; */
}

.leaflet-popup .leaflet-popup-content-wrapper {
	background-color: #2d3439;
	color: #ececec;
	border-radius: 5px;
	padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
	font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
	background-color: #2d3439;
}

.hidden {
	display: none !important;
}

.card-details-list {
	border-bottom-right-radius: 50px !important;
	border-bottom-left-radius: 50px !important;
}
.error {
	padding: 1rem;
	font-weight: bold;
	border: 1px solid rgb(245, 177, 50);
	background-color: rgb(255, 213, 135);
	border-radius: 5px;
}
