/** @format */

body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00b7ff;
}
a:hover {
	color: blue;
}
h1 {
	color: 15px;
}

.btn {
	margin: 0.5rem;
}

illu {
	background-image: url("/images/path.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.diving-list-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}

.card-dive {
	width: 80%;
}

#dropdown-menu {
	left: -100;
}

#map {
	height: 720px;
}
