/** @format */

body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #47b5ff83;
}
.navbar {
	background-color: #06283d !important;
	color: #dff6ff !important;
}

nav a {
	color: #dff6ff !important;
}
nav a:hover {
	color: #dff6ff !important;
	font-size: 20px;
}
h1 {
	color: 15px;
}

.btn {
	margin: 0.5rem;
}

illu {
	background-image: url("/images/path.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.diving-list-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}

.card-dive {
	width: 80%;
}

#dropdown-menu {
	left: -100;
}

#map {
	height: 720px;
	border: 1px solid black;
	border-radius: 5px;
	/* margin-top: 500px; */
}

.leaflet-popup .leaflet-popup-content-wrapper {
	background-color: #2d3439;
	color: #ececec;
	border-radius: 5px;
	padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
	font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
	background-color: #2d3439;
}

.hidden {
	display: none !important;
}

.card-details-list {
	border-bottom-right-radius: 50px !important;
	border-bottom-left-radius: 50px !important;
}
.error {
	padding: 1rem;
	font-weight: bold;
	border: 1px solid rgb(245, 177, 50);
	background-color: rgb(255, 213, 135);
	border-radius: 5px;
}

.btn-warning,
.btn-warning:hover,
.btn-warning:visited,
.btn-warning:active {
	background-color: #63e6be !important;
	border: none !important;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
	background-color: #256d85 !important;
	border: none !important;
}

.card {
	background-color: #dff6ff !important;
}

.btn-primary:hover,
.btn-warning:hover {
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5) !important;
}

.dropdown-menu {
	background-color: #06283d !important;
	margin-top: 10px !important;
}
.dropdown-item:hover {
	color: #256d85 !important;
}

.cont-map {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.positioning-map {
	width: 90% !important;
	height: 90% !important;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}
