<h2>Log a Dive</h2>

<form method="post" action="/diving-sites/create">
	<label>
		Diving Site:
		<input type="text" name="divingSite" />
	</label>

	<label>
		Depth:
		<input type="number" name="depth" min="0" />
	</label>

	<label>
		Duration:
		<input type="number" name="duration" min="0" />
	</label>

	<label>
		Places to eat:
		<input type="text" name="placesToEat" />
	</label>

	<label>
		Comments:
		<textarea name="comments" cols="30" rows="6"> </textarea>
	</label>

	<label>
		Buddy:
		<input type="text" name="buddy" />
	</label>

	<button type="submit"> Create </button>
</form>